.container {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4px;
}
