* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

ul {
    margin: 0; /* 기본 마진 제거 */
    padding: 0; /* 기본 패딩 제거 */
}

body {
    background-color: #efeae1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#root {
    width: 720px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black; /* 방문한 링크도 부모 요소의 색상을 상속 */
    text-decoration: inherit; /* 방문한 링크도 부모 요소의 밑줄 상태를 상속 */
}
